<%= form_for(@event, html: {class: 'form-horizontal'}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h2>Basic Event Information</h2>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <div class="field form-group">
              <%= f.label :event_name, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :event_name, class: 'form-control' %>
              </div>
              <%= f.label :event_type, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.select :event_type, options_for_select(@event_types.collect {|s| [s[0].humanize, s[0]]}, selected: @event.event_type), {} %>
              </div>
            </div>
            <div class="field form-group">
              <%= f.label :start_date, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.date_select :start_date, class: 'form-control' %>
              </div>
              <%= f.label :end_date, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.date_select :end_date, class: 'form-control' %>
              </div>
            </div>
            <div class="field form-group">
              <%= f.label :event_country, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :event_country, class: 'form-control' %>
              </div>
              <%= f.label :event_city, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :event_city, class: 'form-control' %>
              </div>
            </div>
            <div class="field form-group">
              <%= f.label :event_tickets, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.file_field :event_tickets %>
              </div>
              <%= f.label :venue_address, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :venue_address, class: 'form-control' %>
              </div>
            </div>
            <div class="field form-group">
              <%= f.label :event_description, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_area :event_description, class: 'form-control' %>
              </div>
              <%= f.label :additional_details, class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_area :additional_details, class: 'form-control' %>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h2>Travel Information<small> - Optional info</small></h2>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div class="field form-group">
            <%=f.label :transport_name, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%=f.text_field :transport_name , class: 'form-control' %>
            </div>
            <%=f.label :transport_type, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.select :transport_type, options_for_select(@transport_types.collect {|s| [s[0].humanize, s[0]]}, selected: @event.transport_type), {} %>
            </div>
          </div>
          <div class="field form-group">
            <%=f.label :transport_booking, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%=f.text_field :transport_booking , class: 'form-control' %>
            </div>
            <%=f.label :transport_phone, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%=f.text_field :transport_phone , class: 'form-control' %>
            </div>
          </div>
          <div class="field form-group">
            <%=f.label :transport_info, class: 'col-sm-2 control-label' %>
            <div class="col-sm-8">
              <%=f.text_area :transport_info , class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <h2>Hotel Details<small> - Optional info</small></h2>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <div class="field form-group">
            <%= f.label :hotel_name, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :hotel_name, class: 'form-control' %>
            </div>
            <%= f.label :hotel_reservation, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :hotel_reservation, class: 'form-control' %>
            </div>
          </div>
          <div class="field form-group">
            <%= f.label :hotel_address, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :hotel_address, class: 'form-control' %>
            </div>
            <%= f.label :hotel_phone, class: 'col-sm-2 control-label' %>
            <div class="col-sm-3">
              <%= f.text_field :hotel_phone, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% f.hidden_field :user_id , :value => current_user.id %>
  </div>
  
  <div class="actions form-group">
    <div class="col-sm-10">
      <%= f.submit %>
    </div>
  </div>

<% end %>
